.pagenotfound {
    height: calc(100vh - 5rem);
    margin: 2.5rem;
    background-image: linear-gradient(
            rgba(36, 42, 46, 0.8),
            rgba(36, 42, 46, 0.8)
        ),
        url("/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 2.5rem 5rem;
}

.pagenotfound section {
    max-width: 46rem;
    height: 12rem;
    margin: 15rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgba(36, 42, 46, 0.6);
    border-radius: 2rem;
}
